{% extends 'guestBook/base.html' %}
{%block pagestyle%}

<style type="text/css">
  body {
    background-color: #DADADA;
  }

  body>.grid {
    height: 100%;
  }

  .image {
    margin-top: -100px;
  }

  .column {
    max-width: 450px;
  }
</style>


{% endblock %}



{% block content %}

<div class="ui middle aligned center aligned grid">
  <div class="column">

    <form class="ui large form" method="post" id="entryform">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui labeled input field">
            <a class="ui label">
              <i class="user icon"></i>
              Roll Number :
            </a>
            <input type="text" class="ui large header" disabled="true" value="173059004">
          </div>
        </div>

        <div class="field">
            <div class="ui labeled input field">
              <a class="ui label">
                <i class="home icon"></i>
                Hostel :
              </a>
              <input type="text" class="ui large header" disabled="true" value="16">
            </div>
          </div>


          <div class="field">
              <div class="ui labeled input field">
                <a class="ui label">
                  <i class="home icon"></i>
                  Room Number :
                </a>
                <input type="text" class="ui large header" disabled="true" value="B-306">
              </div>
            </div>


            <div class="field">
                <div class="ui labeled input field">
                  <a class="ui label">
                    <i class="home icon"></i>
                    Extras :
                  </a>
                  <input type="text" class="ui large header" disabled="true" value="B-306">
                </div>
              </div>

              

              <div class="field">
                  <div class="ui labeled input field">
                    <a class="ui label">
                      <i class="home icon"></i>
                      Cost :
                    </a>
                    <input type="text" class="ui large header" disabled="true" value="B-306">
                  </div>
                </div>
    




            <div class="field">
                <div class="ui labeled input field">
                  <a class="ui label">
                    <i class="user icon"></i>
                    Amount :
                  </a>
                  <input type="text" class="ui large header" disabled="true" value="173059004">
                </div>
              </div>

        
            <div class="field">

        <input type="submit" class="ui fluid large green submit button"></input>

            </div>
        
        <div class="field">
            <div class="ui left icon input">
              <i class="cancel icon"></i>
            <button class="ui fluid large teal submit button"> Cancel </button>
              
            </div>
          </div>
      </div>


    </form>

    <div class="ui message">
      {% if userNotFound == 'true' %}
      Access Denied
      {% elif userNotFound == 'false' %}
      Logged In
      {% else %}
      If you are from outside of IIT Bombay, Ask the mess manager for coupon.
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}